<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Trailer</title>
    <link rel="stylesheet" href="../../../node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-4">
        <h2>Manage Trailer</h2>
        <div class="mb-3">
            <video width="100%" controls>
                <source src="../../../assets/videos/sample_mp4.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        <div>
            <button class="btn btn-primary">Change Trailer</button>
            <button class="btn btn-danger">Delete Trailer</button>
            <a href="movieList.html" class="btn btn-secondary">Back</a> <!-- Button to go back -->
        </div>
    </div>

    
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="../../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Script -->

</body>
</html>
