  
  // Variabili SCSS
  $mv-white: #fff;
  $mv-black: #000000;
  $mv-light-blue: #00adef;
  $mv-dark-blue: #01011b;
  $mv-blue-50p: #00597b;
  $mv-blue-70p: #300167;
  $mv-transparent: transparent;
  $mv-light-purple: #a541e1;
  $mv-dark-purple: #320268;
  $mv-light-green: #45e9d0;
  $mv-dark-green: #015b51;
  $mv-black-50p: rgba(0, 0, 0, .5);