@import '_variables.scss';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
body{
    position: relative;
    width: 100%;
    font-size: 16px;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-weight: 400;

}

/* Navigation Bar*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 130px;
    background-color: $mv-dark-blue;
    border-bottom: 2px solid $mv-light-blue;
    text-align: center;

    @media (max-width: 992px) {
        height: 150px;
        width: 100%;
    }

    /* Logo Navbar*/
  
    .logo-container {
      display: flex;
      justify-content: flex-start; // Logo a sinistra
      position: relative;
      width: 15%;
      height: 100%;


        img{
            position: relative;
            height: 95%;
            width: auto;
        }

        @media (max-width: 768px) {
            justify-content: center;
        }
    }
  
    /* Main Menu Nav Bar*/
    .main-menu {
        width: 60%;
        height: 50%;
        margin: 0;
        padding-left: 50px;
        display: flex;
        justify-content: center; // Centra orizzontalmente il menu principale
        align-items: center; // Centra verticalmente il menu principale
      
        @media (max-width: 992px) {
            height: 100%;
        }

        .navbar-nav {
          justify-content: center;
          width: 100%;
            
            .nav-item {
                padding: 0 15px; // Spazio tra le voci del menu

                #searchIcon {
                    @media (max-width: 380) {
                        display: none;
    
                    }
    
                }
            a{
                color: $mv-white;
                text-transform: uppercase;
                font-size: 22px;

                @media (max-width: 992px) {
                    font-size: 12px;

                }

                i{
                    padding-right: 15px;
                }

                &:hover {
                    color: lighten($mv-light-blue, 10%); // Change color on hover
                    transition: color 1.8s ease; 
                }
            }
          }
        }



        @media (max-width: 768px) {
                display: none;
        }
       
    }
  
    /* Second Menu*/
    .secondary-menu {
        width: 20%;
        height: 50%;
        display: flex;
        justify-content: flex-end; // Secondary menu a destra
        align-items: center;
        margin-right: 0;

        .navbar-nav {
            justify-content: center;
            width: 100%;
        
            .nav-item {
              padding: 0 10px; // Spazio tra le voci del menu
  
                .signButton{
                    color: $mv-white;
                    text-transform: uppercase;
                    font-size: 16px;
                    border: 2px solid $mv-light-blue;
                    
                    &:hover {
                        color: lighten($mv-light-blue, 10%); // Change color on hover
                        border-color: $mv-white;
                        transition: color 1.2s ease, border-color 1.2s ease; // Combine transitions

                    }
                }

                &:last-child a {
                border: none;
                }


                            /* Search Icon*/
                .search-input {
                    justify-content: center;
                    border: 1px solid mv-light-blue;
                    background-color: $mv-white;
                    padding: 5px;
                    margin: 5px 0;
                    width: 0;
                    transition: width 0.4s ease-in-out;
                    height: 45px;
                }
                
                .search-input.open {
                    width: auto; /* o qualsiasi larghezza desideri */
                }
            }

        }

        @media (max-width: 994px) {
            align-items: center;
            height: 90%;
            margin: 0;
        }

        @media (max-width: 768px) {
            align-items: center;
            height: 90%;
            margin: 0;
        }

    }
}



/* Footer */

.footer {
    background-color: $mv-dark-blue;
  
    .navbar-brand img {
      display: none; // Nasconde l'immagine del logo nei dispositivi piccoli
  
      @media (min-width: 768px) {
        display: block; // Mostra il logo sui dispositivi medi e grandi
      }
    }
  
    .contact-info {
      p {
        margin: 0;
        color: $mv-light-blue;
      }
    }

    .social-container{
        .fa-facebook-f{

            transition: all 0.5s linear;

            &:hover {
                background-color: $mv-light-blue;
            }
        }
        .fa-instagram{

            transition: all 1s linear;

            &:hover {
                background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
            }
        }
    }
  
    .fa-facebook-f, .fa-instagram {
        font-size: 2.5rem; // Aumenta la dimensione delle icone di social media

    }
  
    .btn {
      background-color: $mv-light-blue;
      border: none;
      font-size: 2rem;
      &:hover {
        background-color: darken($mv-light-blue, 10%); // Scurisce il colore quando si passa il mouse
      }
    }
}

/*Loader */
.lds-ring {
    display: none;
    position: fixed; /* o un'altra posizione, a seconda delle tue necessità */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
}

.lds-ring div {
box-sizing: border-box;
display: block;
position: absolute;
width: 64px;
height: 64px;
margin: 8px;
border: 8px solid #fff;
border-radius: 50%;
animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
animation-delay: -0.15s;
}

@keyframes lds-ring {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
}
}

/* Show loader */
.lds-ring.show {
display: block;
}
  