* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  // Variabili SCSS
  $mv-white: #fff;
  $mv-black: #000000;
  $mv-light-blue: #00adef;
  $mv-dark-blue: #01011b;
  $mv-blue-50p: #00597b;
  $mv-blue-70p: #300167;
  $mv-transparent: transparent;
  $mv-light-purple: #a541e1;
  $mv-dark-purple: #320268;
  $mv-light-green: #45e9d0;
  $mv-dark-green: #015b51;
  $mv-black-50p: rgba(0, 0, 0, .5);
  

body{
    position: relative;
    width: 100%;
    font-size: 16px;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-weight: 400;

}

/* Navigation Bar*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 130px;
    background-color: $mv-dark-blue;
    border-bottom: 2px solid $mv-light-blue;
    text-align: center;

    @media (max-width: 992px) {
        height: 150px;
        width: 100%;
    }

    /* Logo Navbar*/
  
    .logo-container {
      display: flex;
      justify-content: flex-start; // Logo a sinistra
      position: relative;
      width: 15%;
      height: 100%;


        img{
            position: relative;
            height: 95%;
            width: auto;
        }

        @media (max-width: 768px) {
            justify-content: center;
        }
    }
  
    /* Main Menu Nav Bar*/
    .main-menu {
        width: 60%;
        height: 50%;
        margin: 0;
        padding-left: 50px;
        display: flex;
        justify-content: center; // Centra orizzontalmente il menu principale
        align-items: center; // Centra verticalmente il menu principale
      
        @media (max-width: 992px) {
            height: 100%;
        }

        .navbar-nav {
          justify-content: center;
          width: 100%;
            
            .nav-item {
                padding: 0 15px; // Spazio tra le voci del menu

                #searchIcon {
                    @media (max-width: 380) {
                        display: none;
    
                    }
    
                }
            a{
                color: $mv-white;
                text-transform: uppercase;
                font-size: 22px;

                @media (max-width: 992px) {
                    font-size: 12px;

                }

                i{
                    padding-right: 15px;
                }

                &:hover {
                    color: lighten($mv-light-blue, 10%); // Change color on hover
                    transition: color 1.8s ease; 
                }
            }
          }
        }



        @media (max-width: 768px) {
                display: none;
        }
       
    }
  
    /* Second Menu*/
    .secondary-menu {
        width: 20%;
        height: 50%;
        display: flex;
        justify-content: flex-end; // Secondary menu a destra
        align-items: center;
        margin-right: 0;

        .navbar-nav {
            justify-content: center;
            width: 100%;
        
            .nav-item {
              padding: 0 10px; // Spazio tra le voci del menu
  
                a{
                    color: $mv-white;
                    text-transform: uppercase;
                    font-size: 16px;
                    border: 2px solid $mv-light-blue;


                    &:hover {
                        color: lighten($mv-light-blue, 10%); // Change color on hover
                        border-color: $mv-white;
                        transition: color 1.2s ease, border-color 1.2s ease; // Combine transitions
                    }
                }

                &:last-child a {
                border: none;
                }


                            /* Search Icon*/
                .search-input {
                    justify-content: center;
                    border: 1px solid mv-light-blue;
                    background-color: $mv-white;
                    padding: 5px;
                    margin: 5px 0;
                    width: 0;
                    transition: width 0.4s ease-in-out;
                    height: 45px;
                }
                
                .search-input.open {
                    width: auto; /* o qualsiasi larghezza desideri */
                }
            }

        }

        @media (max-width: 994px) {
            align-items: center;
            height: 90%;
            margin: 0;
        }

        @media (max-width: 768px) {
            align-items: center;
            height: 90%;
            margin: 0;
        }

    }
}

/*MAIN*/

/* Hero Gallery */

.swiper {
    width: 100%;
    height: 450px;

    .swiper-button {
        color: $mv-white;
        font-weight: 800;
    }

    .scrollbar{
        background-color: $mv-white; 
    }
}

/* Movies Wall */
main{

    background: rgb(5, 5, 71);
    background: linear-gradient(90deg, mv-dark-blue 0%, mv-blue-70p 39%, mv-light-blue 100%);
    letter-spacing: 5px;

    .title-container{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;

        .section-title{

            
            color: $mv-white;
            font-size: 38px;
            padding-bottom: 10px;
            border-bottom: 2px solid $mv-light-blue;
        }

    }

    .movie-wall-container, .halls-wall-container {

        background: $mv-transparent;
        padding-bottom: 25px;

        .card {
            // Stili personalizzati per le card
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            border: none;
            border-radius: 5%;
            background: $mv-transparent;
        
            .card-body {
                display: flex;
                flex-direction: column;
                align-items: center;
                color: $mv-white;
                text-align: justify;
                border-radius: 10%;
            }
        
            img {
                height: auto; // Assicurati che le immagini mantengano il loro aspetto originale
                width: 100%; // Le immagini devono adattarsi alla larghezza della card
            }
        
            // Stili per il titolo della card
            .card-title {
                font-size: 1.25rem;
            }
        
            // Stili per il testo della card
            .card-text {
                font-size: 1rem;
            }
        
            // Stili per il pulsante
            .btn {
                background-color: $mv-blue-50p;
                &:hover {
                background-color: darken($mv-blue-50p, 10%);
                }
            }
        }
    }
    
    .booknow-container {

        .card-title {
            display: flex;
            justify-content: center;
            align-items: center;
            background: rgb(5, 5, 71);
            background: linear-gradient(90deg, mv-dark-blue 0%, mv-blue-70p 39%, mv-light-blue 100%);
            padding-bottom: 0;

            h2{
                width: 30%;
                background: $mv-dark-blue;
            }
        }

        .booking-card {
            color: #fff;
            border: none;
            background: $mv-dark-blue;
            
            .card-header {

              border: none;
              font-size: 1.5rem;
            }

            .card-body{
                display: flex;
                align-items: center;
                justify-content: center;

                form {
                    width: 80%;
                    font-weight: 300;
                    font-size: 22px;
                    letter-spacing: 6px;
                    font-style: italic;
                }
                
                .form-label {
                  font-weight: bold;
                }
              
                .form-select {
                  background: #4b2a6e;
                  border: 1px solid #6c4b9e;
                  color: #fff;
              
                  &:focus {
                    background: #4b2a6e;
                    border-color: #fff;
                  }
                }
              
                .btn-primary {
                  background-color: #6c4b9e;
                  border: none;
              
                  &:hover {
                    background-color: darken(#6c4b9e, 10%);
                  }
                }

            }
          
          }
    }
}