@charset "UTF-8";
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  width: 100%;
  font-size: 16px;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
}

/* Navigation Bar*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 130px;
  background-color: #01011b;
  border-bottom: 2px solid #00adef;
  text-align: center;
  /* Logo Navbar*/
  /* Main Menu Nav Bar*/
  /* Second Menu*/
}
@media (max-width: 992px) {
  header {
    height: 150px;
    width: 100%;
  }
}
header .logo-container {
  display: flex;
  justify-content: flex-start;
  position: relative;
  width: 15%;
  height: 100%;
}
header .logo-container img {
  position: relative;
  height: 95%;
  width: auto;
}
@media (max-width: 768px) {
  header .logo-container {
    justify-content: center;
  }
}
header .main-menu {
  width: 60%;
  height: 50%;
  margin: 0;
  padding-left: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 992px) {
  header .main-menu {
    height: 100%;
  }
}
header .main-menu .navbar-nav {
  justify-content: center;
  width: 100%;
}
header .main-menu .navbar-nav .nav-item {
  padding: 0 15px;
}
@media (max-width: 380) {
  header .main-menu .navbar-nav .nav-item #searchIcon {
    display: none;
  }
}
header .main-menu .navbar-nav .nav-item a {
  color: #fff;
  text-transform: uppercase;
  font-size: 22px;
}
@media (max-width: 992px) {
  header .main-menu .navbar-nav .nav-item a {
    font-size: 12px;
  }
}
header .main-menu .navbar-nav .nav-item a i {
  padding-right: 15px;
}
header .main-menu .navbar-nav .nav-item a:hover {
  color: #23c2ff;
  transition: color 1.8s ease;
}
@media (max-width: 768px) {
  header .main-menu {
    display: none;
  }
}
header .secondary-menu {
  width: 20%;
  height: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 0;
}
header .secondary-menu .navbar-nav {
  justify-content: center;
  width: 100%;
}
header .secondary-menu .navbar-nav .nav-item {
  padding: 0 10px;
  /* Search Icon*/
}
header .secondary-menu .navbar-nav .nav-item .signButton {
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  border: 2px solid #00adef;
}
header .secondary-menu .navbar-nav .nav-item .signButton:hover {
  color: #23c2ff;
  border-color: #fff;
  transition: color 1.2s ease, border-color 1.2s ease;
}
header .secondary-menu .navbar-nav .nav-item:last-child a {
  border: none;
}
header .secondary-menu .navbar-nav .nav-item .search-input {
  justify-content: center;
  border: 1px solid mv-light-blue;
  background-color: #fff;
  padding: 5px;
  margin: 5px 0;
  width: 0;
  transition: width 0.4s ease-in-out;
  height: 45px;
}
header .secondary-menu .navbar-nav .nav-item .search-input.open {
  width: auto; /* o qualsiasi larghezza desideri */
}
@media (max-width: 994px) {
  header .secondary-menu {
    align-items: center;
    height: 90%;
    margin: 0;
  }
}
@media (max-width: 768px) {
  header .secondary-menu {
    align-items: center;
    height: 90%;
    margin: 0;
  }
}

/* Footer */
.footer {
  background-color: #01011b;
}
.footer .navbar-brand img {
  display: none;
}
@media (min-width: 768px) {
  .footer .navbar-brand img {
    display: block;
  }
}
.footer .contact-info p {
  margin: 0;
  color: #00adef;
}
.footer .social-container .fa-facebook-f {
  transition: all 0.5s linear;
}
.footer .social-container .fa-facebook-f:hover {
  background-color: #00adef;
}
.footer .social-container .fa-instagram {
  transition: all 1s linear;
}
.footer .social-container .fa-instagram:hover {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}
.footer .fa-facebook-f, .footer .fa-instagram {
  font-size: 2.5rem;
}
.footer .btn {
  background-color: #00adef;
  border: none;
  font-size: 2rem;
}
.footer .btn:hover {
  background-color: #0088bc;
}

/*Loader */
.lds-ring {
  display: none;
  position: fixed; /* o un'altra posizione, a seconda delle tue necessità */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Show loader */
.lds-ring.show {
  display: block;
}

/*# sourceMappingURL=styles.css.map */
